@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap');

:root{
   --purple:#603f3f;
   --red:#ff341e;
   --orange:#b6771295;
   --black:#333;
   --white:#fff;
   --light-color:#666;
   --light-white:#ccc;
   --light-bg:#f5f5f5;
   --border:.1rem solid var(--black);
   --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}

*{
   font-family: 'Rubik', sans-serif;
   margin:0; padding:0;
   box-sizing: border-box;
   outline: none; border:none;
   text-decoration: none;
   transition:all .2s linear;
}

*::selection{
   background-color: var(--purple);
   color:var(--white);
}

*::-webkit-scrollbar{
   height: .5rem;
   width: 1rem;
}

*::-webkit-scrollbar-track{
   background-color: transparent;
}

*::-webkit-scrollbar-thumb{
   background-color: var(--purple);
}
.form-container{
min-height:100vh;
background-color: var(--light-bg);
display:flex;
align-items: center;
justify-content: center;
padding:2rem;

}
html{
   font-size: 62.5%;
   overflow-x: hidden;
}
section{
   padding:3rem 2rem;
}
.message{
   position:sticky;
   top:0;
   margin:0 auto;
   max-width: 1200px;
   background-color: var(--white);
   padding: 2rem;
   display: flex;
   align-items: center;
   justify-content: space-between;
   z-index: 10000;
   gap:1.5rem;
}
.message span{
font-size: 2rem;
color: var(--black);
}

.message i{
   cursor: pointer;
   color:var(--red);
   font-size: 2rem;
}
.message i:hover{
   transform:rotate(90deg);
}
.btn
 .option-btn,
 .delete-btn,
 .white-btn{
    display:inline-block;
    margin-top:1rem;
    padding:1rem 5rem;
    cursor: pointer;
    color: var(--white);
    font-size: 1.8rem;
    border-radius: .5rem;
    text-transform: capitalize;

 }
 .btn:hover{
   background-color: var(--black);
 }
 .option-btn:hover,
 .delete-btn:hover{
    background-color: var(--black);
 }
.white-btn,
.btn{
   background-color: var(--purple);
   display:inline-block;
   margin-top:1rem;
   padding:1rem 5rem;
   cursor: pointer;
   color: var(--white);
   font-size: 1.8rem;
   border-radius: .5rem;
   text-transform: capitalize;
}
.option-btn{
background-color: var(--orange);
}
.delete-btn{
   background-color: var(--red);
}
@keyframes fadeIn {
   0%{
      transform: translate(1rem);
      opacity: .2s;
   }
}
.form-container form{
   padding:2rem;
   width:50rem;
   border-radius:.5rem;
   box-shadow: var(--box-shadow);
   border: var(--border);
   background-color: white;
   text-align: center;

}
.form-container form h3{
font-size: 2.5rem;
margin-bottom: 1rem;
text-transform: uppercase;
color: var(--black);
}
.form-container form .box{
   width:100%;
   border-radius:.5rem;
   background-color: var(--light-bg);
   padding:1.2rem 1.4rem ;
   font-size: 1.8rem;
   color:var(--black);
   border: var(--border);
   margin: 1rem 0;
}
.form-container form{
   padding-top: 1.5rem;
   font-size: 2rem;
   color: var(--black);
}
.form-container form p a{
   color: var(--purple);
}
.form-container form p a:hover{
   text-decoration: underline;
}
.header{
   background-color: var(--purple);
   color:#333;
}
.share{
 padding:10px;
  
}
.header .header-2{
   background-color: var(--white);
   box-shadow: var(--box-shadow);
}

.header .header-2.active{
   position: fixed;
   top:0; left:0; right:0;
   z-index: 1000;
}

.header .header-2 .flex{
   padding:2rem;
   display: flex;
   align-items: center;
   justify-content: space-between;
   max-width: 1200px;
   margin:0 auto;
   position: relative;
}
.header .header-2 .flex .logo{
   font-size: 2.5rem;
   color:var(--purple);
}

.header .header-2 .flex .navbar a{
   margin:0 1rem;
   font-size: 2rem;
   background-color:var(--light-color);
   color:var(--light-bg);
  padding:20px;
  border-radius: 20%;
}

.header .header-2 .flex .navbar a:hover{
   color:var(--light-bg);
   text-decoration: underline;
}

.header .header-2 .flex .icons > *{
   font-size: 2.5rem;
   color:var(--black);
   cursor: pointer;
   margin-left: 1.5rem;
}

.header .header-2 .flex .icons > *:hover{
   color:var(--purple);
}

#menu-btn{
   display: none;
}
.header .header-1{
   background-color: var(--light-bg);
}

.header .header-1 .flex{
   padding:2rem;
   display: flex;
   align-items: center;
   justify-content: space-between;
   max-width: 1200px;
   margin:0 auto;
   font-size: 2rem;
}

.header .header-2 .flex .user-box{
   position: absolute;
   top:120%; right:2rem;
   background-color: var(--white);
   border-radius: .5rem;
   box-shadow: var(--box-shadow);
   border:var(--border);
   padding:2rem;
   text-align: center;
   width: 30rem;
   display: none;
   animation: fadeIn .2s linear;
}

.header .header-2 .flex .user-box.active{
   display: inline-block;
}

.header .header-2 .flex .user-box p{
   font-size: 2rem;
   color:var(--light-color);
   margin-bottom: 1.5rem;
}

.header .header-2 .flex .user-box p span{
   color:var(--purple);
}

.header .header-2 .flex .user-box .delete-btn{
   margin-top: 0;
}
.home{
   min-height: 70vh;
   background:linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url(../img/background1.jpg) no-repeat;
   background-size: cover;
   background-position: center;
   display: flex;
   align-items: center;
   justify-content: center;
}

.home .content{
   text-align: center;
   width: 60rem;
}

.home .content h3{
   font-size: 5.5rem;
   color:var(--white);
   text-transform: uppercase;
}

.home .content p{
   font-size:3.8rem;
   color:var(--light-white);
   padding:1rem 0;
   line-height: 1.5;
}
.contact form{
   margin:0 auto;
   background-color: rgb(80, 51, 149);
   border-radius: .5rem;
   border:var(--border);
   padding:1rem;
   max-width: 80rem;
   margin:0 auto;
   text-align: center;
}

.contact form h3{
   font-size: 2.5rem;
   text-transform: uppercase;
   margin-bottom: 1rem;
   color:var(--purple);
}

.contact form .box{
   margin:1rem 0;
   width: 100%;
   border:var(--border);
   background-color: var(--white);
   padding:1.2rem 1.4rem;
   font-size: 1.8rem;
   color:var(--black);
   border-radius: .5rem;
}

.contact form textarea{
   height: 10rem;
   resize: none;
}

.products .box-container{
   max-width: 1200px;
   margin:0 auto;
   display: grid;
   grid-template-columns: repeat(auto-fit, 30rem);
   align-items: flex-start;
   gap:1.5rem;
   justify-content: center;
}

.products .box-container .box{
   border-radius: .5rem;
   background-color: var(--white);
   box-shadow: var(--box-shadow);
   padding:2rem;
   text-align: center;
   border:var(--border);
   /* position: relative; */
}

.products .box-container .box .image{
   height: 30rem;
}

.products .box-container .box .name{
   padding:1rem 0;
   font-size: 2rem;
   color:var(--black);
}

.products .box-container .box .qty{
   width: 100%;
   padding:1.2rem 1.4rem;
   border-radius: .5rem;
   border:var(--border);
   margin:1rem 0;
   font-size: 2rem;
}

.products .box-container .box .price{
   position: absolute;
   /* top:1rem; left:1rem; */
   border-radius: .5rem;
   padding:1rem;
   font-size: 2.5rem;
   color:var(--white);
   background-color: var(--red);
}
.footer{
   background-color: var(--light-bg);
}

.footer .box-container{
   max-width: 1200px;
   margin:0 auto;
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
   gap:3rem;
}

.footer .box-container .box h3{
   text-transform: uppercase;
   color:var(--black);
   font-size: 2rem;
   padding-bottom: 2rem;
}

.footer .box-container .box p,
.footer .box-container .box a{
   display: block;
   font-size: 1.7rem;
   color:var(--light-color);
   padding:1rem 0;
}

.footer .box-container .box p i,
.footer .box-container .box a i{
   color:var(--purple);
   padding-right: .5rem;
}

.footer .box-container .box a:hover{
   color:var(--purple);
   text-decoration: underline;
}

.footer .credit{
   text-align: center;
   font-size: 2rem;
   color:var(--light-color);
   border-top: var(--border);
   margin-top: 2.5rem;
   padding-top: 2.5rem;
}

.footer .credit span{
   color:var(--purple);
}
















@media (max-width:991px){

   html{
      font-size: 55%;
   }

}

@media (max-width:768px){

   #menu-btn{
      display: inline-block;
   }

   .header .header-2 .flex .navbar{
      position: absolute;
      top:99%; left:0; right:0;
      background-color: var(--white);
      border-top: var(--border);
      border-bottom: var(--border);
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
   }

   .header .header-2 .flex .navbar.active{
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
   }

   .header .header-2 .flex .navbar a{
      display: block;
      font-size: 2.5rem;
      margin:2rem;
   }

   .home .content h3{
      font-size: 3.5rem;
   }

}


@media (max-width:450px){

   html{
      font-size: 50%;
   }

   .heading h3{
      font-size: 3.5rem;
   }

   .title{
      font-size: 3rem;
   }

}